services:
  frontend:
    image: ghcr.io/antoine-nve/ledge-frontend:${FRONTEND_TAG}
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    image: ghcr.io/antoine-nve/ledge-backend:latest
    env_file: ./backend/.env
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - database
      - cache
      - logs
    restart: unless-stopped

  migrate:
    image: ghcr.io/antoine-nve/ledge-backend:latest
    profiles: ["migrations"]
    env_file: ./backend/.env
    depends_on:
      - database
      - logs
    entrypoint: ["npm", "run", "migrate"]
    restart: "no"

  database:
    image: mongo:8.0
    ports:
      - "${DATABASE_PORT}:27017"
    volumes:
      - ./data/database:/data/db
    restart: unless-stopped

  cache:
    image: redis:8.2
    ports:
      - "${CACHE_PORT}:6379"
    restart: unless-stopped

  logs:
    image: grafana/loki:3.5
    ports:
      - "${LOGS_PORT}:3100"
    volumes:
      - logs:/loki
    restart: unless-stopped

volumes:
  logs:
