services:
  frontend:
    depends_on:
      - backend

  backend:
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:8.0
    volumes:
      - mongo:/data/db
    tmpfs:
      - /data/configdb

  redis:
    image: redis:8.2
    volumes:
      - redis:/data

  migrate:
    profiles: ["migrations"]
    depends_on:
      - mongo

volumes:
  mongo:
  redis:
