services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
    - ./.env # .env is not accessible in the second stage of the build for security purpose
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - database

  database:
    image: mongo:8.0.8
    ports:
      - "${DATABASE_PORT}:27017"
    volumes:
      - ./data/database:/data/db
