services:
  frontend:
    image: ghcr.io/antoine-nve/ledge-frontend:latest
    env_file: ./frontend/.env
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    image: ghcr.io/antoine-nve/ledge-backend:latest
    env_file: ./backend/.env
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - database
      - cache
      - logstore
    restart: unless-stopped

  database:
    image: mongo:8.0
    ports:
      - "${DATABASE_PORT}:27017"
    volumes:
      - database:/data/db
    restart: unless-stopped

  cache:
    image: redis:8.2
    ports:
      - "${CACHE_PORT}:6379"
    volumes:
      - cache:/data
    restart: unless-stopped

  logstore:
    image: grafana/loki:3.5
    ports:
      - "${LOGSTORE_PORT}:3100"
    volumes:
      - logstore:/loki
    restart: unless-stopped

  migrate:
    image: ghcr.io/antoine-nve/ledge-backend:latest
    profiles: ["migrations"]
    env_file: ./backend/.env
    depends_on:
      - database
      - logstore
    entrypoint: ["node", "dist/scripts/migrate.js", "up"]

volumes:
  database:
  cache:
  logstore:
