services:
  frontend:
    image: ghcr.io/antoine-nve/ledge-frontend:latest
    env_file: ./frontend/.env
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    image: ghcr.io/antoine-nve/ledge-backend:latest
    env_file: ./backend/.env
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - database
      - cache
      - logstore
    restart: unless-stopped

  database:
    image: mongo:8.0
    ports:
      - "${DATABASE_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DATABASE_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - database:/data/db
    restart: unless-stopped

  cache:
    image: redis:8.2
    ports:
      - "${CACHE_PORT}:6379"
    volumes:
      - cache:/data
    restart: unless-stopped

  logstore:
    image: grafana/loki:3.5
    volumes:
      - logstore:/loki
    restart: unless-stopped

  dashboard:
    image: grafana/grafana-oss:12.4
    ports:
      - "${DASHBOARD_PORT}:3000"
    volumes:
      - dashboard:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=${DASHBOARD_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${DASHBOARD_PASSWORD}
    depends_on:
      - logstore
    restart: unless-stopped

  migrate:
    image: ghcr.io/antoine-nve/ledge-backend:latest
    profiles: ["migrations"]
    env_file: ./backend/.env
    depends_on:
      - database
      - logstore
    entrypoint: ["node", "dist/scripts/migrate.js", "up"]

volumes:
  database:
  cache:
  logstore:
  dashboard:
