name: Deploy to Raspberry Pi

on:
  workflow_run:
    workflows: ["Build images"]
    types: [completed]

  pull_request:
    types: [closed]
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  staging:
    name: Deploy to Staging
    if: github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'
    runs-on: [self-hosted, ledge]
    env:
      TARGET_PATH: /srv/apps/ledge/staging
      IMAGE_TAG: ${{ github.event.workflow_run.head_sha }}

    steps:
      - name: Pull latest code
        run: |
          cd "$TARGET_PATH"
          git pull

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u antoine-nve --password-stdin

      - name: Deploy Staging
        run: |
          cd "$TARGET_PATH"
          IMAGE_TAG=$IMAGE_TAG docker compose pull
          IMAGE_TAG=$IMAGE_TAG docker compose down --remove-orphans
          IMAGE_TAG=$IMAGE_TAG docker compose up -d mongo loki
          IMAGE_TAG=$IMAGE_TAG docker compose run --rm migrate
          IMAGE_TAG=$IMAGE_TAG docker compose up -d

  prod:
    name: Deploy to Production
    if: github.event_name == 'pull_request' && github.event.pull_request.merged == true
    runs-on: [self-hosted, ledge]
    env:
      TARGET_PATH: /srv/apps/ledge/prod
      HEAD_SHA: ${{ github.event.pull_request.head.sha }}

    steps:
      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u antoine-nve --password-stdin

      - name: Retag images to latest (Multi-arch safe)
        run: |
          docker buildx imagetools create \
            ghcr.io/antoine-nve/ledge-backend:$HEAD_SHA \
            --tag ghcr.io/antoine-nve/ledge-backend:latest

          docker buildx imagetools create \
            ghcr.io/antoine-nve/ledge-frontend:$HEAD_SHA \
            --tag ghcr.io/antoine-nve/ledge-frontend:latest

      - name: Pull latest code
        run: |
          cd "$TARGET_PATH"
          git pull

      - name: Deploy Production
        run: |
          cd "$TARGET_PATH"
          docker compose pull
          docker compose down --remove-orphans
          docker compose up -d mongo loki
          docker compose run --rm migrate
          docker compose up -d
