name: Deploy to Raspberry Pi

on:
  workflow_run:
    workflows: [ "Build images" ]
    types: [ completed ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: [ self-hosted, ledge ]

    # Conditions :
    # - workflow_run: deploy only if build is successful
    # - workflow_dispatch: manually only on 'main'
    if: >
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') ||
      (github.event_name == 'workflow_dispatch' && github.ref_name == 'main')

    steps:
      - name: Determine environment (dev or prod)
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "TARGET_PATH=/srv/apps/ledge/prod" >> $GITHUB_ENV
            echo "ENV=production" >> $GITHUB_ENV
          else
            echo "TARGET_PATH=/srv/apps/ledge/dev" >> $GITHUB_ENV
            echo "ENV=development" >> $GITHUB_ENV
          fi

      - name: Pull latest code
        run: |
          cd "$TARGET_PATH"
          git pull

      - name: Pull latest images
        run: |
          echo "Pulling images for $ENV environment..."
          cd "$TARGET_PATH"
          docker compose pull

      - name: Restart containers
        run: |
          cd "$TARGET_PATH"
          docker compose down
          docker compose up -d --remove-orphans
          echo "Deployment to $ENV server completed."
